<ul nz-menu [nzMode]="'horizontal'" style="line-height: 64px;">
  <li nz-submenu>
      <span title>树莓派服务系统</span>
      <ul>
          <li nz-menu-item>
              <a (click)="logout()">注销</a>
          </li>
      </ul>
  </li>

  <li nz-submenu>
      <span title>文件管理</span>
      <ul>
          <li nz-menu-item>
              <a routerLink="/file-download">文件下载</a>
          </li>
          <li nz-menu-item>
              <a routerLink="/files">我的文件</a>
          </li>
      </ul>
  </li>

  <li nz-menu-item *ngIf="canShowUserManage()">
    <a routerLink="/user-manage">用户管理</a>
  </li>
</ul>
