<nav class="navbar navbar-expand navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="{{ homePageUrl }}">树莓派服务系统</a>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" [class.dropdown]="item.children != null" *ngFor="let item of items">
        <a *ngIf="item.children == null" class="nav-link" routerLink="{{ item.link }}">{{ item.title }}</a>
        <a *ngIf="item.children != null" class="nav-link" href="{{ item.link }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ item.title }}
        </a>
        <div *ngIf="item.children != null" class="dropdown-menu">
          <a class="dropdown-item" href="{{ item.link }}" *ngFor="let item of item.children">{{ item.title }}</a>
        </div>
      </li>

      <li class="nav-item active" *ngIf="user.roles.includes('管理员')">
          <a class="nav-link" routerLink="/user-manage">用户管理</a>
      </li>
    </ul>

    <form class="form-inline">
      <span class="mr-2" style="color: white">欢迎, {{ user.email }}</span>
      <a class="btn btn-outline-light" style="color: white" (click)="logout()">注销</a>
    </form>
  </div>

</nav>
