<div nz-row nzType="flex" nzJustify="center" *ngIf="errMsg != ''" style="margin: 5px">
  <nz-alert nzType="error" nzMessage="{{ errMsg }}"></nz-alert>
</div>

<nz-table [nzData]="fileInfos">
  <thead>
    <tr>
      <th scope="col">文件名</th>
      <th scope="col">完成时间</th>
      <th scope="col">文件大小(kb)</th>
      <th scope="col">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let info of fileInfos">
      <td>{{ info.fileName }}</td>
      <td>{{ info.completeDate }}</td>
      <td>{{ info.sizeKb }}</td>
      <td>
        <div nz-row [nzGutter]="10">
          <div nz-col nzSpan="5">
            <nz-popconfirm [nzTitle]="'确认删除?'" (nzOnConfirm)="deleteFile(info)">
              <a nz-popconfirm>删除</a>
            </nz-popconfirm>
          </div>
          <div nz-col nzSpan="5">
            <nz-popconfirm [nzTitle]="'确认提取?'" (nzOnConfirm)="downloadFile(info)">
              <a nz-popconfirm>提取</a>
            </nz-popconfirm>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
