<div nz-row nzType="flex" nzJustify="center" *ngIf="errMsg != ''">
  <nz-alert nzType="error" nzMessage="{{ errMsg }}"></nz-alert>
</div>

<nz-table>
  <thead>
    <tr>
      <th scope="col">文件名</th>
      <th scope="col">完成时间</th>
      <th scope="col">文件大小(kb)</th>
      <th scope="col">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let info of fileInfos">
      <td>{{ info.fileName }}</td>
      <td>{{ info.completeDate }}</td>
      <td>{{ info.sizeKb }}</td>
      <td>
        <button type="button" class="btn btn-success mr-2" (click)="deleteFile(info)">删除</button>
        <button type="button" class="btn btn-success ml-2" (click)="downloadFile(info)">提取</button>
      </td>
    </tr>
  </tbody>
</nz-table>
