<div class="m-4">
  <div class="row justify-content-center" *ngIf="errMsg != ''">
    <span class="col-2 alert alert-primary">{{ errMsg }}</span>
  </div>

  <div class="row justify-content-end mb-3 mr-3" *ngIf="isChooseAll && fileInfos.length != 0">
    <button type="button" class="btn btn-success mr-2" id="deleteAllButton" (click)="deleteAllFiles()">删除所有</button>
    <button type="button" class="btn btn-success ml-2" id="getAllButton" (click)="getAllFiles()">提取所有</button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <input type="checkbox" id="chooseAll" name="chooseAll" (change)="onChooseAll()" [checked]="this.isChooseAll">
          <label for="chooseAll">全选</label>
        </th>
        <th scope="col">文件名</th>
        <th scope="col">完成时间</th>
        <th scope="col">文件大小(kb)</th>
        <th scope="col">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let info of fileInfos">
        <td scope="row">
          <input type="checkbox" class="item-checked" [checked]="isChooseAll">
        </td>
        <td>{{ info.fileName }}</td>
        <td>{{ info.completeDate }}</td>
        <td>{{ info.sizeKb }}</td>
        <td>
          <button type="button" class="btn btn-success mr-2" (click)="deleteFile(info)">删除</button>
          <button type="button" class="btn btn-success ml-2" (click)="getFile(info)">提取</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
