<div nz-row nzType="flex" nzJustify="center" class="title">
  <h3>登录系统</h3>
</div>

<div nz-row nzType="flex" nzJustify="center">
  <div nz-col nzSpan="5">
    <form nz-form>
      <nz-form-item>
        <nz-form-control>
            <input nz-input type="text" placeholder="请输入邮箱" id="email" name="email" autofocus="autofocus" maxlength="255" [(ngModel)]="user.email" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
            <input nz-input type="password" placeholder="请输入密码" id="password" name="password" maxlength="255" [(ngModel)]="user.password" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>

<div nz-row nzType="flex" nzJustify="center" *ngIf="errMsg != ''" style="margin: 5px">
  <div nz-col nzSpan="5">
    <nz-alert nzType="error" nzMessage="{{ errMsg }}"></nz-alert>
  </div>
</div>

<div nz-row nzType="flex" nzJustify="center" [nzGutter]="20">
  <div nz-col nzSpan="2">
      <button nz-button nzType="primary" nzBlock (click)="login()">登录</button>
  </div>
  <div nz-col nzSpan="2">
      <button nz-button nzType="primary" nzBlock routerLink="/register">注册</button>
  </div>
</div>
