<div nz-row nzType="flex" nzJustify="center" class="title">
  <h3>添加任务</h3>
</div>

<div nz-row nzType="flex" nzJustify="center">
  <div nz-col nzSpan="5">
    <form nz-form>
      <nz-form-item>
        <nz-form-control>
          <input nz-input type="text" placeholder="请输入要下载的URL" name="url" autofocus="autofocus" [(ngModel)]="newTask.url" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <input nz-input type="text" placeholder="请输入要保存的文件名" name="filename" autofocus="autofocus" [(ngModel)]="newTask.saveFilename" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" nzBlock (click)="addDownloadTask()">添加</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>

<div nz-row nzType="flex" nzJustify="center" *ngIf="errMsg != ''">
  <nz-alert nzType="error" nzMessage="{{ errMsg }}"></nz-alert>
</div>

<nz-table>
  <thead>
    <tr>
      <th scope="col">URL</th>
      <th scope="col">文件名</th>
      <th scope="col">进度</th>
      <th scope="col">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.url }}</td>
      <td>{{ task.saveFilename }}</td>
      <td>
        <nz-progress [nzPercent]="task.progress" nzStatus="active"></nz-progress>
      </td>
      <td>
        <nz-popconfirm [nzTitle]="'确定取消?'" (nzOnConfirm)="deleteDownloadTask(task)">
          <a nz-popconfirm>取消</a>
        </nz-popconfirm>
      </td>
    </tr>
  </tbody>
</nz-table>
