<div nz-row nzType="flex" nzJustify="center" class="title">
  <h3>当前用户</h3>
</div>

<div nz-row nzType="flex" nzJustify="center" *ngIf="errMsg != ''" style="margin: 5px">
  <div nz-col nzSpan="5">
    <nz-alert nzType="error" nzMessage="{{ errMsg }}"></nz-alert>
  </div>
</div>

<nz-table [nzData]="userInfos">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">角色</th>
      <th scope="col">创建时间</th>
      <th scope="col">修改时间</th>
      <th scope="col">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let userInfo of userInfos">
      <td>{{ userInfo.email }}</td>
      <td>
        <ng-container *ngIf="!editCache[userInfo.id].edit">
          {{ userInfo.roles }}
        </ng-container>
        <ng-container *ngIf="editCache[userInfo.id].edit">
          <nz-checkbox-wrapper (nzOnChange)="onRoleCheckChanged($event, userInfo.id)">
            <label nz-checkbox *ngFor="let role of roles" nzValue="{{ role }}" [ngModel]="userInfo.roles.includes(role)">{{ role }}</label>
          </nz-checkbox-wrapper>
        </ng-container>
      </td>
      <td>{{ userInfo.createDate }}</td>
      <td>{{ userInfo.updateDate }}</td>
      <td>
        <ng-container *ngIf="!editCache[userInfo.id].edit">
          <div nz-row [nzGutter]="10">
            <div nz-col nzSpan="5">
              <a (click)="modifyUser(userInfo.id)">修改</a>
            </div>
            <div nz-col nzSpan="5">
              <nz-popconfirm [nzTitle]="'确定删除?'" (nzOnConfirm)="deleteUser(userInfo.id)">
                <a nz-popconfirm>删除</a>
              </nz-popconfirm>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="editCache[userInfo.id].edit">
          <div nz-row [nzGutter]="10">
            <div nz-col nzSpan="5">
              <nz-popconfirm [nzTitle]="'保存?'" (nzOnConfirm)="saveModify(userInfo.id)">
                <a nz-popconfirm>保存</a>
              </nz-popconfirm>
            </div>
            <div nz-col nzSpan="5">
              <a (click)="cancelModify(userInfo.id)">取消</a>
            </div>
          </div>
        </ng-container>
      </td>
    </tr>
  </tbody>
</nz-table>
